
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, middle;
}
.container{
    width: 1512px;
    height: 4412px;
    position: relative;
}
nav{
    display: flex;
    position: relative;
    max-width: 1512px;
    width: 100%;
    max-height: 64px;
    height: 100%;
}
.navigation{
    display: flex;
    gap: 40px;
    position: relative;
}
.logo{
width: 94px;
height: 34px;

    margin-left: 24px;
    margin-top: 15px;
}
.inputs{
    display: flex;
    margin-top: 11px;
    
}
.search_container{
    position: relative;
}
.search{
    width: 294px;
    height: 42px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding-left: 37px;
    border-radius: 8px 0 0 8px;
}
.vanue{
    width: 294px;
    height: 42px;
    padding-top: 13px;
    padding-left: 17px;
    border: 1px solid rgba(217, 217, 217, 1);

    border-radius: 0 8px 8px 0;
}
.search_button{
    position: absolute;
    right: 0;
    top: 11px;
    border: 0;
    width: 42px;
    height: 42px; 
    padding: 11px;
    background-color: rgba(246, 88, 88, 1);
    border-radius: 0 8px 8px 0;
}
.search_button img{
    width: 20px;
    height: auto;
    

}
.search_img{
    width: 16.27px;
    height: 16.27px;
    position: absolute;
    top: 12.75px;
    left: 12.75px;
        border: 0;
}

.user-setting{
    display: flex;
    gap: 22px;
    padding-left: 476.6px;
    position: absolute;
    top: 0;
    right: 50px;

}
.language{
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 5px;
    border: 0;
    background-color: white;
    color: rgba(33, 33, 33, 1);
}

.log-in{
    display: flex;
    font-size: 14px;
    align-items: center;
    border: 0;
    background-color: white;
    color: rgba(33, 33, 33, 1);
}
.sign-up{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: rgba(0, 121, 138, 1);
    color: white;
    width: 83px;
    height: 36px;
    border-radius: 8px;
    margin-top: 14px;
}
.platform{
    width: 1196px;
    height: 461px;
    display: flex;
    gap: 54.47px;
    padding-left: 158px;
    padding-top: 71px;
}
.platform_info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
}
.title_info{
    font-weight: 700;
    font-size: 42px;
    text-align: left;
}
.text_info{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}
.platform_img{
    margin-left: 54px;
    width: 379px;
    height: auto;
}
.btn_info{
    width: 125px;
    height: 40px;
    background-color: rgba(0, 121, 138, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 8px;
}
.events_near{
    margin-top: 24px;
    width: 1196px;
    height: 942px;

    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 158px;
}
.events_title{
    display: flex;
}
.edit_place{
    display: flex;
    flex-direction: row;
    width: 239.4px;
    height: 44px;
    background-color: rgba(151, 202, 209, 0.12);
    border-radius: 8px;
    position: relative;
    margin-left: 20px;
}
.pencil{
    width: 15px;
    height: 16.6px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.title_events{
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    padding-top: 5px;
}
.place_events{
    font-weight: 600;
    font-size:  20px;
    color: rgba(0, 121, 138, 1);
    padding-left: 12px;
    padding-top: 12px;
}
.link_all{
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 121, 138, 1);
    position: absolute;
    right: 0;
}
.events_near{
    display: flex;
}
.posters_events{
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}
.poster{
    padding-top: 28px;
    width: 272px;
    height: 399px;
}
.img_poster{
    width: 272px;
    height: auto;
}
.info_poster{
    padding-top: 12px;
}
.poster_title{
    width: 256px;
    font-weight: 600;
    font-size: 20px;
}
.thema{
    width: 256px;
    height: 40px;
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(112, 112, 112, 1);
    display: flex;
    align-items: center;
}
.day{
    display: flex;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 8px;
    text-transform: uppercase;
}
.day img{
    width: 20px;
    height: 20px;
    color: rgba(112, 112, 112, 1);
    margin-right: 6px;
}
.day p{
    height: 20px;
    padding-top: 2px;
}
.add_info{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 15.8px;
    align-items: center;
}
.register img{
    width: 20px;
    height: 20px;
    margin-right: 3.67px;
}
.register, .type{
    display: flex;
}
.type img{
    width: 20px;
    height: 20px;
    margin-right: 3.67px;
}
.online_events{
    height: 499px;
}

.signup_container{
    display: flex;
    border-radius: 8px;
    width: 1192px;
    height: 236px;
    background-color: rgba(151, 202, 209, 0.08);
    margin-top: 40px;
}
.join_info{
    margin: 36px 56px;
    width: 739px;
    height: 164px;
}
.join_info h6{
    font-size: 28px;
    font-weight: 600;
}
.join_info p{
    padding: 16px 0;
    width: 664.64px;
    font-size: 16px;
    font-weight: 400;
}
.join_info button{
    width: 192px;
    height: 40px;
    border: 0;
    color: white;
    background-color: rgba(227, 35, 89, 1);
    border-radius: 8px;
    font-size: 16px;
}
.join_img{
    width: 341px;
    height: 196px;
    margin: 20px 56px 20px 0;
}

.categories_box{
    margin-top: 64px;
}
.categories_items{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.item_box{
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 112px;
    background-color: rgba(151, 202, 209, 0.08);
    align-items: center;
    border-radius: 8px;
}
.item_box img{
    width: 20px;
    height: 20px;
    margin-top: 22px;
}
.item_box p{
    padding-top: 6px;
    font-size: 16px;
    font-weight: 500px;
    width: 79.2px;
    text-align: center;
}

.cities_box{
    margin-top: 64px;
}
.cities_items{
    display: flex;
    gap: 41.75px;
    flex-wrap: wrap;
}
.p_events{
    font-size: 16px;
    font-weight: 400;
    color: rgba(112, 112, 112, 1);
    padding-top: 16px;
    width: 870px;
}
.city{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
}
.city img{
    width: 205px;
    height: 205px;
}
.city h5{
    font-size: 20px;
    font-weight: 600;
    padding-top: 24px;
}

.how_works{
    margin-top: 64px;
}
.how_box{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 24px;
}
.how_info{
    width: 580px;
    height: 180px;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px; 
    display: flex;  
}
.how_info img{
    width: 41px;
    height: 41px;
    margin-top: 32px;
    margin-left: 24px;
}
.how_info_text{
    margin-top: 32px;
    margin-left: 24px;
}
.how_info_text h5{
    font-size: 20px;
    font-weight: 600;
}
.how_info_text p{
    padding-top: 16px;
    width: 362px;
    font-size: 16px;
    font-weight: 400;
}
.how_info_text h6{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 121, 138, 1);
}

.friendships{
    padding-top: 64px;
}
.friendships_box{
    margin-top: 28px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.friendship_item{
    width: 376px;
}
.friendship_item img{
    width: 376px;
    height: 191.5px;
}
.friendship_item h5{
    padding-top: 24px;
    font-size: 18px;
    font-weight: 600;
    width: 292.42px;
}
.friendship_item p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(112, 112, 112, 1);
    padding-top: 12px;
}
.friendship_item h6{
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    color: rgba(0, 121, 138, 1);
}

.footer_1page{
    background-color: rgb(33, 33, 33);
    width: 100%;
    min-height: 559px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}
.footer_2page{
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    width: 100%;
    min-height: 559px;
    padding-bottom: 50px;
}
.get_started{
    display: flex;
    width: 1120px;
    height: 69px;
    margin-left: 196px;
    margin-top: 24px;
    gap: 15.8px;
    border-bottom: 1px solid rgba(112, 112, 112, 1)
}
.footer_2page .get_started{
    display: flex;
    width: 1120px;
    height: 69px;
    margin-left: 196px;
    margin-top: 24px;
    gap: 15.8px;
    border-bottom: 1px solid rgba(112, 112, 112, 1)
}
/* .footer_2page .get_started h4{
    padding-top: 34px;
}
.footer_2page .get_started button{
    margin-top: 24px;
} */
.get_started h4{
    color: rgb(246, 247, 248);
    font-size: 16px;
    font-weight: 600;
    width: 249px;
    padding-top: 10px;
}
.get_started button{
    color: rgba(255, 255, 255, 1);
    background: none ;
    width: 119px;
    height: 44px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}
.page_links{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 196px;
}
.page_link{
    width: 373.33px;
    height: 224px;

}
.page_link h4{
    font-size: 16px;
    font-weight: 400;
    color: rgba(246, 247, 248, 1);
}
.page_link p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(197, 196, 196, 1);
    padding-top: 7px;
}

.follow{
    width: 1120px;
    height: 90px;
    margin: 24px 196px;
    display: flex;
    position: relative;
}
.follow_media{
    width: 278px;
}
.follow_media h4{
    font-size: 16px;
    font-weight: 400;
    color: rgba(246, 247, 248, 1);
}
.icons{
    display: flex;
    margin-top: 12px;
    gap: 32px;
}
.icons img{
    width: 30px;
    height: 30px;
}
.store{
    display: flex;
    position: absolute;
    right: 0;
    gap: 12px;
}
.store img{
    width: 140px;
    height: 40px;
}
.page_info{
    width: 1120px;
    height: 28px;
    display: flex;
    margin-left: 196px;
    gap: 24px;
    color: rgba(197, 196, 196, 1);
    font-size: 14px;
    font-weight: 400;
}